In [4]:
price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 : ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다.')

가격을 입력하세요 : 12
개수를 입력하세요 : 13
총액은 156 원입니다.

In [5]:
price = int(input('가격을 입력하세요 : '))
num = int(input('개수를 입력하세요 : '))
sum = price * num
print('총액은', sum, '원입니다.')

가격을 입력하세요 : 12
개수를 입력하세요 : 13
총액은 156 원입니다.

In [6]:
a=0x1a
print(a)

26

In [8]:
totalsec = 365*24*\
            60*60
print(totalsec)

31536000

In [9]:
s = ("korea"
    "japan"
    "2002")
print(s)

koreajapan2002

In [10]:
>>> s1 = "대한민국"
>>> s2 = "만세"
>>> print(s1+s2)

대한민국만세

In [13]:
>>> print("좋아" * 5)

좋아좋아좋아좋아좋아

In [14]:
print(int(2.54))
print(round(2.54))
print(round(2.54, 1))
print(round(123456789, -5))

2
3
2.5
123500000

In [15]:
def calcrange(begin, end):
    sum = 0
    for num in range(begin, end+1):
        sum += num
    return sum

print("3 ~ 7 = ", calcrange(3, 7))

3 ~ 7 =  25

In [16]:
def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    return sum

print(intsum(1, 2, 3))
print(intsum(5, 7, 9, 11, 13))
print(intsum(8, 9, 6, 2, 9, 7, 5, 8))

6
45
54

In [18]:
def calcstep(begin, end, step = 1):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

print("1 ~ 10 = ", calcstep(1, 10, 2))
print("1 ~ 100 = ", calcstep(1, 100))

1 ~ 10 =  25
1 ~ 100 =  5050

In [19]:
s = "Good morning."
print(s.lower())
print(s.upper())
print(s)

print(s.swapcase())
print(s.capitalize())
print(s.title())

good morning.
GOOD MORNING.
Good morning.
gOOD MORNING.
Good morning.
Good Morning.

In [20]:
month = 8
day =15
anni = "광복절"
print("%d월 %d일은 %s이다." % (month, day, anni))

8월 15일은 광복절이다.

In [22]:
price = [30, 13500, 2000]
for p in price:
    print("가격 : %d원" %p)
for p in price:
    print("가격 : %7d원" %p)
for p in price:
    print("가격 : %-7d원" %p)

가격 : 30원
가격 : 13500원
가격 : 2000원
가격 :      30원
가격 :   13500원
가격 :    2000원
가격 : 30     원
가격 : 13500  원
가격 : 2000   원

In [25]:
pie = 3.14159265
print("%10f" % pie)
print("%10.8f" % pie)
print("%10.5f" % pie)
print("%10.2f" % pie)

  3.141593
3.14159265
   3.14159
      3.14

In [26]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])  # 2~5까지
print(nums[:4])   # 처음부터 4까지
print(nums[6:])   # 6에서 끝까지
print(nums[1:7:2])# 1~7까지 하나씩 건너뛰며

[2, 3, 4]
[0, 1, 2, 3]
[6, 7, 8, 9]
[1, 3, 5]

In [27]:
score = [88, 95, 70, 100, 99]
print(score[2]) # 70
score[2] = 55   # 값 변경
print(score[2]) # 55

70
55

In [28]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums[2:5] = [20,30,40]
print(nums)
nums[6:8] = [90,91,92,93,94]
print(nums)

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

In [29]:
lol = [[1,2,3],[4,5],[6,7,8,9]]
print(lol[0])
print(lol[2][1])

for sub in lol:
    for item in sub:
        print(item, end=' ')
    print()

[1, 2, 3]
7
1 2 3
4 5
6 7 8 9

In [30]:
nums = [n * 2 for n in range(1,11)]
for i in nums:
	print(i, end = ', ')

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [31]:
nums = [1,2,3,4]
nums[2:2] = [90, 91, 92]
print(nums)

nums = [1,2,3,4]
nums[2] = [90,91,92]
print(nums)

[1, 2, 90, 91, 92, 3, 4]
[1, 2, [90, 91, 92], 4]

In [32]:
score = [88,95,70,100,99,80,78,50]
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:4]=[]
print(score)

[88, 95, 70, 99, 80, 78, 50]
[88, 95, 99, 80, 78, 50]
[88, 78, 50]

In [36]:
score = [88,95,70,100,99,80,78,50]
perfect = score.index(100)
print("만점 받은 학생은 " + str(perfect) + "번입니다.")
pernum = score.count(100)
print("만점자 수는 " + str(pernum) + "명입니다")

만점 받은 학생은 3번입니다.
만점자 수는 1명입니다

In [37]:
score = [88, 95, 70, 100, 99]
score.sort()
print(score)
score.reverse()
print(score)

[70, 88, 95, 99, 100]
[100, 99, 95, 88, 70]

In [38]:
score=(88,95,70,100,99)
sum=0
for s in score:
    sum+=s
print("총점 : ", sum)
print("평균 : ", sum / len(score))

총점 :  452
평균 :  90.4

In [40]:
tu = 1,2,3,4,5    # 가능
print(tu[3])      # 가능
print(tu[1:4])    # 가능
print(tu + (6,7)) # 가능
print(tu*2)       # 가능
tu[1]=100         # 불가능
del tu[1]         # 불가능

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [41]:
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [44]:
import time

def gettime():
	now =time.localtime()
	return now.tm_hour, now.tm_min

result = gettime()
print("지금은 %d시 %d분입니다." % (result[0], result[1]))

지금은 16시 28분입니다.

In [45]:
dic = { 'boy' : '소년', 'school':'학교', 'book':'책' }
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [46]:
dic = { 'boy' : '소년', 'school':'학교', 'book':'책' }
print(dic['boy'])
print(dic['book'])

소년
책

In [47]:
dic = { 'boy' : '소년', 'school':'학교', 'book':'책' }
print(dic.get('student'))
print(dic.get('student', '사전에 없는 단어입니다.'))

None
사전에 없는 단어입니다.

In [48]:
dic = { 'boy':'소년', 'school':'학교', 'book':'책'}
dic['boy']='남자애'
dic['girl'] = '소녀'
del dic ['book']
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀'}

In [49]:
dic = { 'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [50]:
dic = { 'boy':'소년', 'school':'학교', 'book':'책'}
keylist = dic.keys()
for key in keylist:
    print(key)

boy
school
book

In [51]:
song = """Cos ah ah I'm in the stars tonight
So watch me bring the fire 
and set the night alight
Shining through the city 
with a little funk and soul
So I'mma light it up like dynamite, woah"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1
print(alphabet)

{'c': 3, 'o': 7, 's': 8, 'a': 11, 'h': 16, 'i': 17, 'm': 5, 'n': 10, 't': 19, 'e': 10, 'r': 4, 'g': 7, 'w': 3, 'b': 1, 'f': 2, 'd': 3, 'l': 6, 'u': 4, 'y': 2, 'k': 2, 'p': 1}

In [52]:
song = """Cos ah ah I'm in the stars tonight
So watch me bring the fire 
and set the night alight
Shining through the city 
with a little funk and soul
So I'mma light it up like dynamite, woah"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1

key = list(alphabet.keys())
key.sort()
for c in key:
    num = alphabet[c]
    print(c, "=>", num)

a => 11
b => 1
c => 3
d => 3
e => 10
f => 2
g => 7
h => 16
i => 17
k => 2
l => 6
m => 5
n => 10
o => 7
p => 1
r => 4
s => 8
t => 19
u => 4
w => 3
y => 2

In [53]:
song = """Cos ah ah I'm in the stars tonight
So watch me bring the fire 
and set the night alight
Shining through the city 
with a little funk and soul
So I'mma light it up like dynamite, woah"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1
        
alphabet=sorted(alphabet.items())
for c in alphabet:
    print(c[0],"=>",c[1])

a => 11
b => 1
c => 3
d => 3
e => 10
f => 2
g => 7
h => 16
i => 17
k => 2
l => 6
m => 5
n => 10
o => 7
p => 1
r => 4
s => 8
t => 19
u => 4
w => 3
y => 2

In [54]:
song = """Cos ah ah I'm in the stars tonight
So watch me bring the fire 
and set the night alight
Shining through the city 
with a little funk and soul
So I'mma light it up like dynamite, woah"""

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1
        
for code in range(ord('a'), ord('z') + 1):
    c = chr(code)
    num = alphabet.get(c, 0)
    print(c, "=>", num)

a => 11
b => 1
c => 3
d => 3
e => 10
f => 2
g => 7
h => 16
i => 17
j => 0
k => 2
l => 6
m => 5
n => 10
o => 7
p => 1
q => 0
r => 4
s => 8
t => 19
u => 4
v => 0
w => 3
x => 0
y => 2
z => 0

In [55]:
def printsum(n):
    sum = 0
    for num in range(n+1):
        sum+=num
    print("~", n, "=", sum)

printsum(4)
printsum(10)

~ 4 = 10
~ 10 = 55

In [56]:
s = "python"
print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:-2])

tho
hon
pyth
th

In [57]:
file="20171224-104830.jpg"
print("촬영 날짜 : " + file[4:6] + "월 " + file[6:8] + "일")
print("촬영 시간 : " + file[9:11] + "시 " + file[11:13] + "분")
print("확장자 : " + file[-3:])

촬영 날짜 : 12월 24일
촬영 시간 : 10시 48분
확장자 : jpg

In [58]:
s = "python programming"
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)

True
False
True
True

In [59]:
s = "python programming"
print(len(s))
print(s.find('o'))
print(s.rfind('o'))
print(s.index('r'))
print(s.count('n'))

18
4
9
8
2